/* ...............TASK 1................... */
.timer-part {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 36px;
    margin-left: 156px;
}


/* ...............DATE FIELD................... */
.timer-input {
display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
        border: 1px solid #808080;
        transition: border 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.timer-input:hover {
    border: 1px solid #000;
}

.timer-input:focus {
    border: 1px solid #4e75ff;
    color: #000;
}

.timer-input:disabled {
    color: #808080;
}

/* ...............BUTTON................... */
.timer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.timer-btn:hover:not(:disabled) {
    background-color: #6c8cff;
    color: #fff;
}

.timer-btn:disabled {
        background-color: #cfcfcf;
        color: #989898;
}

/* ...............CALENDAR................... */
.flatpickr-day.today {
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 100%;
    stroke-width: 1px;
    stroke: #4e75ff;
    color: #2e2f42;
    text-align: center;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.flatpickr-current-month {
    font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #333;
}

.flatpickr-current-month .numInputWrapper {
    display: none;
}

.flatpickr-time {
    font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: #333;
}

.flatpickr-day {
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #666; 
        transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
    }

.flatpickr-day:hover {
    background-color: #c1c1c1;
    cursor: pointer;
    transform: scale(1.05);
}

.flatpickr-day.selected {
    background-color: #646cff;
    color: #fff; 
}

.timer {
display: flex;
flex-direction: row;
gap: 24px;
margin-top: 32px;
margin-left: 156px;
}

.field {
display: flex;
flex-direction: column;
}

.value {
font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #2e2f42;
    text-align: center;
}

.label {
font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2e2f42;
    text-align: center;
}

/* ...............TASK 2................... */
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    margin-left: 156px;
    margin-top: 36px;
}

.form-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.delay-container {
    display: flex;
    flex-direction: column;
}

.delay-label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.delay-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

.delay-input:hover {
    border: 1px solid #000;
}

.delay-input:focus,
.delay-input:active {
    border: 1px solid #4e75ff;
}

.state-container {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
}

.snackbar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    width: 360px;
    height: 40px;
    background: #4e75ff;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}

.snackbar-btn:hover, .snackbar-btn:focus {
    background: #6c8cff;
}